<div class="container" style= "width: 600px;">
    <div class="row">
      <div class="card-header">
        <h1 class= "card-title text-center text-danger">Chi tiết sách</h1>  
        <div class="d-flex justify-content-end">
  
        </div>
      </div>
      <div class="card-body">
      <p><b>Tên sách :</b>  {{book.bookname}} </p>
      <p> <b> Tác giả :</b> {{book.author}}</p>
      <p> <b>Mô tả :</b> {{book.description}} </p>
  
      </div>
      <div class="card-footer d-flex justify-content-end">
    
    </div>
    <br>  
    <div class="text-center">
        <button class="btn btn-secondary" onclick="window.history.go(-1);  false;">Trở Về</button>                           
     </div>
        
  </div>